#app > article{
	padding-bottom: 40px;
	width: 100%;
	background-color: #fff;
	line-height: 2em;
}
#app > article > section{
	width: 80%;
	margin: 0 auto;
}
#app > article > section > img{
	display: block;
	width: 100%;
	margin-bottom: 40px;
}
#app > article > section > div{
	width: 100%;
	margin: 0 auto;
	padding: 2%;
}
#app > article > section > div > h2{
	font-size: 32px;
	line-height: 2em;
	color: #002ea3;
  	font-weight: 600;
}
#app > article > section > div > p{
	display: block;
	width: 100%;
	color: #404040;
	font-size: 18px;
	line-height: 2em;
}

/* -------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1357px){
	#app > article > section{
		width: 100%;
	}
	#app > article > section > div{
		width: 80%;
		padding: 2% 0;
	}
	#app > article > section > div > h2{
		font-size: 28px;
	}
	#app > article > section > div > p{
		font-size: 16px;
	}
}
@media only screen and (max-width: 767px){
	#app > article > section{
		width: 100%;
		padding-top: 73px;
	}
	#app > article > section > div{
		width: 80%;
		padding: 0;
	}
	#app > article > section > div > h2{
		font-size: 22px;
	}

}