#app > article{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #fff;
}
#app > article > section{
	width: 80%;
	height: auto;
	overflow: hidden;
	padding: 40px 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
#app > article > section > div{
	padding: 10px;
	padding: 0.625rem;
}
#app > article > section > .map{
	width: 65%;
}
#app > article > section > .map > iframe{
	width: 100%;
}
#app > article > section > .info{
	width: 35%;
}
#app > article > section > .info > h3{
	color: #002ea3;
	font-size: 40px;
	margin: 0;
}
#app > article > section > .info > h3 > i{
	margin-right: 10px;
}
#app > article > section > .info > ul{
	width: 100%;
	height: auto;
	overflow: hidden;
	line-height: 2em;

}
#app > article > section > .info > ul > li{
	display: inline-block;
	width: 100%;
	margin: 20px 0;
}
#app > article > section > .info > ul > li > i{
	margin-right: 6px;
	color: #ff8300;
}
#app > article > section > .info > ul > li > h4{
	color: #ff8300;
	display: inline-block;
	margin: 0;
}
#app > article > section > .info > ul > li > p{
	color: #404040;
	margin: 0;
}

/* -------------------------------------------- */
@media only screen and (max-width: 768px){
	#app > article > section{
		display: block;
		padding: 0;
		padding-top: 73px;
	}
	#app > article > section > div{
		padding: 0;
	}
	#app > article > section > .map{
		width: 100%;
	}
	#app > article > section > .info{
		width: 100%;
		margin-top: 1.25rem;
	}
	#app > article > section > .info > ul > li{
		margin: 0;
		margin-top: 20px;
	}
}