@import url("reset.css");
*{
	box-sizing: border-box;
	font-family: sans-serif,'PingFang SC','Microsoft JhengHei';
	letter-spacing: 1px;
}
html,body{
	‐webkit‐text‐size‐adjust: none;
	background-color: #fff;
}
img{
	display: block;
}
/* ------------------------------------ */
#app{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
#app > header{
	width: 100%;
	height: auto;
}
#app > header > .header-top{
	padding: 20px 10px;
	width: 80%;
  	margin: 0 auto;
	background-color: #fff;
  	display: flex;
  	justify-content: space-between;
}
#app > header > .header-top > .main-nav{
	width: auto;
	height: 100%;
}
#app > header > .header-top > .main-nav > ul{
    display: flex;
  
}
#app > header > .header-top > .main-nav > ul > li{
	list-style: none;
	line-height: 70px;
}
#app > header > .header-top > .main-nav > ul > li > a{
	text-decoration: none;
	font-size: 15px;
	color: #404040;
	padding: 0 30px;
	transition: 0.4s;
	border-bottom: solid 3px transparent;
}
#app > header > .header-top > .main-nav > ul > li > a:hover{
	border-bottom: solid 3px #ff8300;
}
#app > header > .header-top > a{
	display: block;
	height: 70px;
	width: auto;
}
#app > header > .header-top > a > img{
	height: 100%;
	width: auto;
}
/* --------------------------------- */

#app > header > .header-bottom{
	height: 60px;
	width: 100%;
	background: linear-gradient(#002ea3,#0b1d75);
}
#app > header > .header-bottom > button{
	display:  none;
}
#app > header > .header-bottom > #pd-nav{
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
}
#app > header > .header-bottom > #pd-nav > .button{
	display: none;
}
#app > header > .header-bottom > #pd-nav > .layer-1{
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
    list-style: none;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li{
	width: auto;
	text-align: center;
	padding: 0 10px;
	z-index: 999;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li:hover{
	background-color: #0b1d75;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > a{
	display: block;
	width: 100%;
	color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
	font-size: 15px;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > a > i{
	transition: transform 0.5s;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > .layer-2{
	position: absolute;
	width: 175px;
	overflow: visible;
	clear: left;
	background-color: #09175b;
	transform: translateX(-10px);
	opacity: 0.9;
	display: none;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > .layer-2 > li{
	padding: 0 8px;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > .layer-2 > li:hover{
	background-color: #13257c;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > .layer-2 > li > a{
	display: block;
	line-height: 60px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}
#pd-nav > .layer-1 > li:hover > a > i{
	transform: rotate(180deg);
}
/* ------------------------------------------------- */
#app > footer{
	width: 100%;
	height: 160px;
	background: linear-gradient(#002ea3,#0b1d75);
	overflow-y: hidden;
}
#app > footer > #footer-logo{
	width: 20%;
	height: 50%;
	margin: 0 auto;
	background-image: url(logo-white.png);
	background-repeat: no-repeat;
	-webkit-background-size: 80%;
		background-size: 80%;	
	background-position: 50% 50%;
}
#app > footer > #footer-logo > a{
	width: 20%;
	height: 40%;
}
#app > footer > #footer-info{
	height: 60%;
	width: 90%;
	color: #fff;
	text-align: center;
	margin: auto;
}
#app > footer > #footer-info > p{
	font-size: 14px;
	margin: 0 auto;
	line-height: 40px;
}
/* ------------------------------------- */
/* @media screen and (max-width: 960px){
   
  #app > header > .header-top > .main-nav{
    display: none;
  }
  #app > header > .header-top > a{
    margin: 0 auto;
  }
  #app > header > .header-bottom > #pd-nav{
  	width: 100%;
  	display: flex;
  	align-items: flex-start;
  	height: auto;
  	text-align: left;
  }
  #app > header > .header-bottom > #pd-nav > .button{
  	display: block;
  	width: 60px;
  	height: 60px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	z-index: 11;
  }
  #app > header > .header-bottom > #pd-nav > .button > a{
  	font-size: 4.2vw;
  	color: #fff;
  	font-weight: 600;
  }
  #app > header > .header-bottom > #pd-nav > .layer-1{
	display: block;
	width: 30%;
	height: 100%;
	margin: 0;
  	z-index: 10;
	background: linear-gradient(#002ea3,#0b1d75);
	transform: translate(-60px,60px);
	display: none;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li{
	width: 100%;
	text-align: left;
	padding: 0 10px;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > a{
	text-align: left;
	line-height: 6vw;
	font-size: 1.6vw;
	padding-left: 20px;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > a > i{
	display: none;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > .layer-2{
	width: 100%;
	background-color: #09175b;
	opacity: 1;
	display: none;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > .layer-2 > li{
	padding: 0 10px;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > .layer-2 > li:hover{
	background-color: #002ea3;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > .layer-2 > li > a{
	display: block;
	line-height: 6vw;
	font-size: 1.6vw;
	padding-left: 40px;
}
  #app > footer > #footer-logo{
		width: 40%;
		height: 60%;
  }

@media screen and (max-width: 413px){
	#app > header > .header-top{
	padding: 10px;
	}
	#app > header > .header-top > a {
		width: 100%;
		height: auto;
	}
	#app > header > .header-top > a > img{
		width: 100%;
		height: auto;
	}

	#app > footer{
		height: 70px;
	}
	#app > footer > #footer-logo{
		width: 70%;
		height: 90%;
	}
	#app > footer > #footer-info{
		display: none;
	}
} */


