@import url("reset.css");
*{
	box-sizing: border-box;
	font-family: sans-serif,'PingFang SC','Microsoft JhengHei';
	letter-spacing: 1px;
}
html,body{
	‐webkit‐text‐size‐adjust: none;
	background-color: #fff;
}
html{
	font-size: 16px;
}
img{
	display: block;
}
/* ------------------------------------ */
#app{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
.navbar{
	display: none;
}
/* --------------------------------- */
#app > header{
	width: 100%;
	height: auto;
}
#app > header > .header-top{
	padding: 20px 0;
	width: 80%;
  	margin: 0 auto;
	background-color: #fff;
  	display: flex;
  	justify-content: space-between;
}
#app > header > .header-top > .main-nav{
	width: auto;
	height: 100%;
}
#app > header > .header-top > .main-nav > ul{
    display: flex;
}
#app > header > .header-top > .main-nav > ul > li{
	list-style: none;
	line-height: 70px;
}
#app > header > .header-top > .main-nav > ul > li > a{
	text-decoration: none;
	font-size: 0.9375rem;font-size: 15px;
	color: #404040;
	padding: 0 30px;
	transition: 0.4s;
	border-bottom: solid 3px transparent;
}
#app > header > .header-top > .main-nav > ul > li > a:hover{
	border-bottom: solid 3px #ff8300;
}
#app > header > .header-top > a{
	display: block;
	height: 70px;
	width: auto;
}
#app > header > .header-top > a > img{
	height: 100%;
	width: auto;
}
/* --------------------------------- */

#app > header > .header-bottom{
	height: auto;
	width: 100%;
	background: linear-gradient(#002ea3,#0b1d75);
	z-index: 10;
}
#app > header > .header-bottom > #pd-nav{
	width: 100%;
	height: 100%;
	color: #fff;
}
#app > header > .header-bottom > #pd-nav > .layer-1{
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
    list-style: none;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li{
	width: auto;
	padding: 0 10px;
	z-index: 999;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li:hover{
	background-color: #0b1d75;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > a{
	display: block;
	width: 100%;
	color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
	font-size: 0.9375rem;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > a > i{
	transition: transform 0.5s;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > .layer-2{
	position: absolute;
	width: 175px;
	overflow: visible;
	clear: left;
	background-color: #09175b;
	transform: translateX(-10px);
	opacity: 0.9;
	display: none;
	text-align: center;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > .layer-2 > li{
	padding: 0 8px;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > .layer-2 > li:hover{
	background-color: #13257c;
}
#app > header > .header-bottom > #pd-nav > .layer-1 > li > .layer-2 > li > a{
	display: block;
	line-height: 60px;
	text-decoration: none;
	color: #fff;
	font-size: 0.875rem;font-size: 14px;
	font-weight: 400;
}
#pd-nav > .layer-1 > li:hover > a > i{
	transform: rotate(180deg);
}
/* ------------------------------------------------- */
#app > footer{
	width: 100%;
	height: auto;
	background: linear-gradient(#002ea3,#0b1d75);
}
#app > footer > div{
	width: 80%;
	margin: 0 auto;
	padding: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#app > footer > div > #footer-logo{
	width: 30%;
    padding: 10px;
    padding: 0.625rem;
}
#app > footer > div > #footer-logo > img{
	width: 100%;
}

#app > footer > div > div > p{
	font-size: 0.875rem;font-size: 14px;
	color: #fff;
}
/* ------------------------------------- */

@media screen and (max-width: 767px) {

.navbar{
	display: block;
}

#app > header{
	display: none;
}
/* footer */
#app > footer > div{
	width: 80%;
	display: block;
	padding: 0.625rem; 
}
#app > footer > div > #footer-logo{
	width: 60%;
}
#app > footer > div > div > p{
	font-size: 0.625rem;
}

}

@media only screen and (min-width: 0px) and (max-width: 320px){


}



