/* img-1 text上方大圖*/
.img-1{
	width: 80%;
	margin: 10px auto;
}
.img-1 > img{
	width: 100%;
}

/* img-2 text下方小圖*/
.img-2{
	height: auto;
	width: 100%;
	margin: 30px 0;
}
.img-2 > .img-list{
	display: flex;
	justify-content: ;
	align-items: baseline;
}
.img-2 > .img-list > li{
	list-style: none;
	display: block;
	width: 30%;
	margin-right: 5%;
} 
.img-2 > .img-list > li > img{
	width: 100%;
}


/* img-3 feature右飄*/
.img-3{
	width: 45%;
	padding: 40px;
	padding-right: 0;
	float: right;
}
.img-3 > img{
	width: 100%;
	height: auto;
}


/* img-4 分項spec左側*/
.spec_img > li{
	display: flex;
	align-items: flex-start;
	margin-bottom: 30px;
}
.img-4{
	height: 200px;
	padding-right: 30px;
}
.img-4 > img{
	height: 100%;
	width: auto;
}

/* ----------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1357px){
	.img-1{
		width: 100%;
	}
	.img-2 > .img-list{
		display: block;
	}
	.img-2 > .img-list > li{
		width: 75%;
		margin: 0 auto;
		padding: 0.625rem;
	}
	.img-3{
		width: 45%;
		padding: 10px;
	}
	.img-4{
		padding: 20px;
		height: 150px;
	}
}
@media only screen and (max-width: 767px){
	.img-1{
		width: 100%;
	}
	.img-2 > .img-list{
		display: block;
		margin-left: -1.25rem;
	}
	.img-2 > .img-list > li{
		width: 80%;
		padding: 0.625rem;
		margin: 0 auto;
	}
	.img-3{
		float: none;
		width: 100%;
		padding: 0;
		margin-bottom: 10px; 
	}

	.spec_img > li{
		display: block;
		padding: 0.625rem;
	}
	.img-4{
		width: 100%;
		height: auto;
		padding-right: 0;
		margin-bottom: 1.25rem;
	}
	.img-4 > img{
		width: 100%;
		height: auto;
	}
}


