#app > article{
	width: 100%;
	height: auto;
	min-height: 840px;
	background-color: #fff;
}
#app > article > #content-top{
	width: 100%;
	height: 420px;
	display: flex;
	justify-content: center;
	background-color: #000;
}
#app > article > #content-top > .banner{
	width: 100%;
}
#app > article > #content-middle{
	width: 80%;
	height: auto;
	overflow: hidden;
	padding: 40px 0;
	margin: 0 auto;
}
#app > article > #content-middle > h2{
	font-size: 1.75rem;font-size: 28px;
	color: #002ea3;
  	font-weight: 600;
	
}
#app > article > #content-middle > h3{
	font-size: 1.375rem;font-size: 22px;
	color: #004ab1;
	font-weight: 600;	
}
#app > article > #content-middle > p{
	color: #404040;
	line-height: 32px;
	margin-top: 40px;
}
#app > article > #content-bottom{
	width: 80%;
	height: auto;
	overflow: hidden;
	padding: 40px 0;
	margin: 0 auto;
}
#app > article > #content-bottom > div{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
#app > article > #content-bottom > div > ul{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
#app > article > #content-bottom > div > ul > li{
	display: block;
	width: 30%;
	height: auto;
	float: left;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
	margin-right: 20px;
	box-shadow: 0px 5px 15px #d0d0d0;
	border-radius: 4px;
}
#app > article > #content-bottom > div > ul > .last{
	margin-right: 0;
}
#app > article > #content-bottom > div > ul > li > a{
	width: auto;
	height: auto;
	overflow: hidden;
}
#app > article > #content-bottom > div > ul > li > a > .pic-box{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#app > article > #content-bottom > div > ul > li > a > .pic-box > img{
	width: 100%;
	height: auto;
	transition: 0.3s
}
#app > article > #content-bottom > div > ul > li > a > .text-box{
	padding: 20px;
}
#app > article > #content-bottom > div > ul > li > a > .text-box > h3{
	font-size: 22px;
	color: #002ea3;
	font-weight: 800;
	margin: 15px 0;
}
#app > article > #content-bottom > div > ul > li > a > .text-box > p{
	font-size: 16px;
	color: #404040;
	font-weight: 400;
	line-height: 28px;
	display: block;
	height: 81px;
	overflow: hidden;
}
#app > article > #content-bottom > div > ul > li > a > .text-box > button{
	font-size: 15px;
	border: none;
	font-weight: 800;
	color: #002ea3;
	background-color: transparent;
	margin: 10px 0;
	transition: 0.3s;
}
/* -------------------------------------------- */
#app > article > #content-bottom > div > ul > li > a:hover > .pic-box > img{
	transform: scale(1.1);
}
#app > article > #content-bottom > div > ul > li > a:hover > .text-box > button{
	color: #2c7ced;
	transform: translateX(15px);
}

/* -------------------------------------------- */
@media only screen and (min-width: 321px) and (max-width: 768px) {
	#app > article > #content-top{
		padding-top: 73px; 
	}
	#app > article > #content-middle{
		width: 80%;
		padding: 2rem 0;
	}
	#app > article > #content-bottom{
		width: 80%;
		padding: 0;
		margin-bottom: 2rem;
	}
	#app > article > #content-bottom > div > ul{
		display: block;
	}
	#app > article > #content-bottom > div > ul > li{
		width: 100%;
		margin-bottom: 2rem;
	}

}








