
#app > article{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	min-height: -webkit-fill-available;
	min-height: 1030px;
}
#app > article > #content-top{
	width: 80%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	padding: 40px 0;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
#app > article > #content-top > .text{
	width: 55%;
}
#app > article > #content-top > .text > h2{
	font-size: 32px;
	color: #002ea3;
  	font-weight: 800;
	line-height: 1.6em;	
}
#app > article > #content-top > .text >p{
	color: #404040;
	line-height: 2em;
	font-size: 18px;
	margin-bottom: 30px; 
}
#app > article > #content-top > .tech-t{
	width: 100%;
}
#app > article > #content-top > img{
	width: 40%;
	border-radius: 4px;
	margin: 0;
}
#app > article > #content-bottom{
	width: 80%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 40px;
}
#app > article > #content-bottom > div{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
#app > article > #content-bottom > div > ul{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
#app > article > #content-bottom > div > ul > li{
	display: block;
	width: 30%;
	height: auto;
	float: left;
	padding: 0;
	overflow: hidden;
	box-shadow: 0px 5px 15px #d0d0d0;
	border-radius: 4px; 
}
#app > article > #content-bottom > div > ul > .single{
	margin-right: 35%;
}
#app > article > #content-bottom > div > ul > li > a > .pic-box{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#app > article > #content-bottom > div > ul > li > a > .pic-box > img{
	width: 100%;
	height: auto;
	transition: 0.3s;
}
#app > article > #content-bottom > div > ul > li > a > .text-box{
	padding: 20px;
}
#app > article > #content-bottom > div > ul > li > a > .text-box > h3{
	font-size: 24px;
	line-height: 1.6em;
	color: #002ea3;
	font-weight: 800;
	margin: 15px 0;
}
#app > article > #content-bottom > div > ul > li > a > .text-box > button{
	font-size: 18px;
	border: none;
	font-weight: 800;
	color: #002ea3;
	background-color: transparent;
	margin: 10px 0;
	transition: 0.3s;
}
/* -------------------------------------------- */
#app > article > #content-bottom > div > ul > li > a:hover > .pic-box > img{
	transform: scale(1.1);
}
#app > article > #content-bottom > div > ul > li > a:hover > .text-box > button{
	color: #2c7ced;
	transform: translateX(15px);
}


/* -------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1357px){
	#app > article{
		width: 85%;
		margin: 0 auto;
	}
	#app > article > #content-top{
		display: block;
		width: 100%;
	}
	#app > article > #content-top > .text{
		margin: 0 auto;
		width: 100%;
	}
	#app > article > #content-top > .text > h2{
		font-size: 24px;
	}
	#app > article > #content-top > .text >p{
		font-size: 16px;
	}
	#app > article > #content-top > img{
		width: 70%;
		margin: 0 auto;
	}
	#app > article > #content-bottom{
		width: 100%;
		padding-bottom: 0;
	}
	#app > article > #content-bottom > div > ul > li > a > .text-box{
		padding: 5px;
	}
	#app > article > #content-bottom > div > ul > li > a > .text-box > h3{
		font-size: 18px;
		margin: 2px 8px;
	}
	#app > article > #content-bottom > div > ul > li > a > .text-box > button{
		font-size: 14px;
		margin: 6px 0;
	}
}
/* ------------------------------- */
@media screen and (max-width: 767px){
	#app > article{
		width: 85%;
		margin: 0 auto;
	}
	#app > article > #content-top{
		display: block;
		width: 100%;
		padding: 73px 0 0;
	}
	#app > article > #content-top > .text{
		width: 100%;
	}
	#app > article > #content-top > .text > h2{
		font-size: 22px;
		margin: 0 0 10px;
	}
	#app > article > #content-top > .text > p{
		line-height: 1.6em;
		font-size: 16px;
	}
	#app > article > #content-top > img{
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	#app > article > #content-bottom{
		width: 100%;
		padding: 0;
		margin-bottom: 1em;
	}
	#app > article > #content-bottom > div > ul{
		display: block;
	}
	#app > article > #content-bottom > div > ul > li{
		width: 100%;
		margin-bottom: 2rem;
	}
	#app > article > #content-bottom > div > ul > li > a > .text-box{
		padding: 12px;
	}
	#app > article > #content-bottom > div > ul > li > a > .text-box > h3{
		font-size: 16px;
		margin: 5px;
	}
	#app > article > #content-bottom > div > ul > li > a > .text-box > button{
		font-size: 12px;
		margin: 0;
	}
}
