

table > thead,tbody > tr{
	border-bottom: solid 1px #ccc;
}
table > thead{
	text-align: left;
	font-size: 18px;
}
table > thead > tr > th{
	/* min-width: 200px;
	max-width: 300px; */
  	padding: 10px 20px;
}
table > tbody > tr > td{
	min-width: 100px;
	max-width: 200px;
  	padding: 10px 20px;
}
.table > h3{
	font-size: 22px;
	color: #004ab1;
	font-weight: 600;	
}