
#app > article{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #fff;
}
#app > article > .sidebar{
	width: 25%;
	height: auto;
	overflow: hidden;
	padding: 40px 0px 40px 80px;
	float: left;
}
#app > article > .sidebar > .menu-title{
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom: solid 3px #002ea3;
	margin-bottom: 30px;
}
#app > article > .sidebar > .menu-title > a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 20px;
	font-weight: 600;
	color: #002ea3;
	line-height: 60px;
	transition: 0.3s;
}
#app > article > .sidebar > .menu-title > a:hover{
	color: #2c7ced;
}
#app > article > .sidebar > .menu{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#app > article > .sidebar > .menu > ul{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#app > article > .sidebar > .menu > ul > li{
	width: 100%;
	height: auto;
	overflow: hidden;
	line-height: 60px;
	border-bottom: solid 1px #d0d0d0;
}
#app > article > .sidebar > .menu > ul > li > a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 15px;
	color: #404040;
	transition: 0.4s;
	padding-left: 20px;
}
#app > article > aside.sidebar > .menu > ul > li > a:hover{
	color: #c4c4c4;
}
#app > article > div{
	width: 75%;
	height: auto;
	float: right;
	margin: 40px 0;
}
#app > article > div > section{
	width: 100%;
	height: auto;
	padding: 0 80px;
	font-size: 16px;
    color: #404040;	
    font-weight: 400;
}
#app > article > div > section > ul > li{
}
#app > article > div > section > ul > .block{
	list-style: none;
}
#app > article > div > section > ul > .block > div{
	font-size: 16px;
	line-height: 2em;
    color: #404040;	
    font-weight: 400;
}
#app > article > div > section > ul > .block > .title{
	font-size: 28px;
	color: #002ea3;
  	font-weight: 600;
}
#app > article > div > section > ul > .block > .sub_title{
	font-size: 22px;
	color: #004ab1;
	font-weight: 600;	
}
#app > article > div > section > ul > .block > div > ul{
	list-style: circle;
	margin-left: 20px;
}
#app > article > div > section > ul > .block > div > ul > .text{
	font-size: 16px;
    color: #404040;	
    font-weight: 400;
}
#app > article > div > section > ul > .block > .text > .word{
	list-style: none;
	margin-left: 0px;
}
#app > article > div > section > ul > .block > .text > .word > li{
	margin-bottom: 20px;
}