<!DOCTYPE html>
<html lang="zh-tw">
<!--[if IE 6]>
<html id="ie6" dir="ltr" lang="zh-TW">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" dir="ltr" lang="zh-TW">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" dir="ltr" lang="zh-TW">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html dir="ltr" lang="zh-TW">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>印刷造紙｜英耐德實業有限公司 INNOVATOR SURFACE TECHNOLOGIES</title>
	<link rel="stylesheet" type="text/css" href="../css/sub.css">
	<link rel="stylesheet" type="text/css" href="../css/header+footer.css">
	<link rel="stylesheet" type="text/css" href="../css/img.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body>
	<div id="loading">
		<div class="loader loader--style3" title="2">
		  	<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
			  	<path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
			    	<animateTransform attributeType="xml"
				      attributeName="transform"
				      type="rotate"
				      from="0 25 25"
				      to="360 25 25"
				      dur="0.6s"
				      repeatCount="indefinite"/>
			    </path>
		  	</svg>
		  	<div>Loading...</div>
		</div>
	</div>
	<div id="app">
		<!-- navbar-collapse -->
		<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fff">
		  	<div class="container">
			    <div class="navbar-header" style="margin: 0 auto;">
			     	<button class="navbar-toggle collapsed" style="float: left;" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			      		<span class="sr-only">Toggle navigation</span>
			      		<span class="icon-bar"></span>
			      		<span class="icon-bar"></span>
			      		<span class="icon-bar"></span>
			      	</button>
			      	<a class="logo" style="float: right;" href="../index.html">
			      		<img style="height: 50px;padding: 0.4em 0;" src="../image/main-logo.png">
					</a>
			    </div>
			    <div class="navbar-collapse collapse" id="navbar" style="background-color: #0b1d75">
			      	<ul class="nav navbar-nav">
			        	<li><a href="../nav_bottom/plasma/plasma.html" style="color: #fff">電漿噴塗設備</a></li>
			        	<li><a href="../nav_bottom/arc/arc.html" style="color: #fff">電弧噴塗設備</a></li>
			        	<li><a href="../nav_bottom/HVOF/HVOF.html" style="color: #fff">HVOF噴塗設備</a></li>
			        	<li><a href="../nav_bottom/flame/flame.html" style="color: #fff">火焰噴塗設備</a></li>
			        	<li><a href="../nav_bottom/cold/cold.html" style="color: #fff">冷氣動力噴塗設備</a></li>
			        	<li><a href="../nav_bottom/feeder/feeder.html" style="color: #fff">送料設備</a></li>
			        	<li><a href="../nav_bottom/parts/parts.html" style="color: #fff">耗材與零件</a></li>
			        	<li><a href="../nav_bottom/asider/asider.html" style="color: #fff">周邊輔助設備</a></li>
			      	</ul>
			    </div>
			    <!-- /.nav-collapse-->
		  	</div>
		</nav>
		<header>
			<div class="header-top">
				<nav class="main-nav">
					<ul>
						<li><a href="../index.html">HOME</a></li>
						<li><a href="tech.html">技術應用</a></li>
						<li><a href="../nav_top/about.html">關於我們</a></li>
						<!-- <li><a href="">動態消息</a></li> -->
						<li><a href="../nav_top/contact.html">聯絡我們</a></li>
					</ul>
				</nav>
				<a id="main-logo" href="../index.html">
					<img src="../image/main-logo.png">
				</a>
			</div>
			<div class="header-bottom">
				<nav id="pd-nav" class="scroll">
					<ul class="layer-1">
						<li><a href="../nav_bottom/plasma/plasma.html">電漿噴塗設備
							<i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2" >
								<li><a href="../nav_bottom/plasma/plasma-3710.html">Praxair 3710</a></li>
								<li><a href="../nav_bottom/plasma/plasma-6600.html">Praxair 6600XL</a></li>
								<li><a href="../nav_bottom/plasma/plasma-7700.html">Praxair 7700 UPC</a></li>
								<li><a href="../nav_bottom/plasma/plasma-plazjet.html">Praxair PlazJet</a></li>
								<li><a href="../nav_bottom/plasma/plasma-guns.html">Praxair 電漿噴槍</a></li>
								<li><a href="../nav_bottom/plasma/plasma-axial3.html">Mettech Axial 3</a></li>
							</ul>
						</li>
						<li><a href="../nav_bottom/arc/arc.html">電弧噴塗設備 <i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2">
								<li><a href="../nav_bottom/arc/arc-8835.html">Praxair 8835/8830</a></li>
								<li><a href="../nav_bottom/arc/arc-bp400.html">Praxair BP400</a></li>
								<li><a href="../nav_bottom/arc/arc-coarc.html">Praxair CoArc</a></li>
								<li><a href="../nav_bottom/arc/arc-456.html">Thermion AVD456</a></li>
								<li><a href="../nav_bottom/arc/arc-450.html">Thermion AVD450</a></li>
							</ul>
						</li>
						<li><a href="../nav_bottom/HVOF/HVOF.html">HVOF噴塗設備 <i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2">
								<li><a href="../nav_bottom/HVOF/hvof-jp5000.html">Praxair JP5000</a></li>
								<li><a href="../nav_bottom/HVOF/hvof-jp8000.html">Praxair JP8000</a></li>
								<li><a href="../nav_bottom/HVOF/hvof-guns.html">Praxair HVOF噴槍</a></li>
							</ul>
						</li>
						<li><a href="../nav_bottom/flame/flame.html">火焰噴塗設備 <i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2">
								<li><a href="../nav_bottom/flame/flame-guns.html">Saint Gobain 噴槍</a></li>
							</ul>
						</li>
						<li><a href="../nav_bottom/cold/cold.html">冷氣動力噴塗設備 <i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2">
								<li><a href="../nav_bottom/cold/cold-impact.html">Impact 噴塗系統</a></li>
							</ul>
						</li>
						<li><a href="../nav_bottom/feeder/feeder.html">送料設備 <i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2">
								<li><a href="../nav_bottom/feeder/feeder-1264s.html">Praxair 1264型送粉機</a></li>
								<li><a href="../nav_bottom/feeder/feeder-thermico.html">Thermico CPF2</a></li>
								<li><a href="../nav_bottom/feeder/feeder-mettech.html">Mettech 750/350</a></li>
							</ul>	
						</li>
						<li><a href="../nav_bottom/parts/parts.html">耗材與零件 <i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2">
								<li><a href="../nav_bottom/parts/parts-powder.html">噴塗粉末</a></li>
								<li><a href="../nav_bottom/parts/parts-wires.html">噴塗線材</a></li>
								<li><a href="../nav_bottom/parts/parts-suspension.html">噴塗漿料</a></li>
								<li><a href="../nav_bottom/parts/prats-flexicord.html"> FlexiCord 包藥線</a></li>
								<li><a href="../nav_bottom/parts/parts-3D.html">3D金屬列印粉末</a></li>
								<li><a href="../nav_bottom/parts/parts-masking.html">耐熱遮覆膠帶</a></li>
								<li><a href="../nav_bottom/parts/parts-stellite.html">超合金焊材</a></li>
								<li><a href="../nav_bottom/parts/parts-tufcote.html">TufCote 焊材</a></li>
								<li><a href="../nav_bottom/parts/parts-parts.html">噴塗設備零件</a></li>
							</ul>
						</li>
						<li><a href="../nav_bottom/asider/asider.html">周邊輔助設備 <i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2">
								<li><a href="../nav_bottom/asider/asider-robotics.html">自動化設備</a></li>
								<li><a href="../nav_bottom/asider/asider-enclosure.html">隔音間</a></li>
								<li><a href="../nav_bottom/asider/asider-dustcollecter.html">集塵設備</a></li>
								<li><a href="../nav_bottom/asider/asider-spraywatch.html">噴塗監控系統</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</header>
<!------------------------------------------------------->
		<article>
			<aside class="sidebar">
				<div class="menu-title">
					<a href="tech.html">熱噴塗技術應用</a>
				</div>
				<div class="menu">
					<ul>
						<li><a href="tech-steel.html">鋼鐵冶鍊</a></li>
						<li><a href="tech-paper.html">印刷造紙</a></li>
						<li><a href="tech-aerospace.html">航太能源</a></li>
						<li><a href="tech-semicd.html">光電半導體</a></li>
						<li><a href="tech-corrosion.html">大氣防蝕</a></li>
						<li><a href="tech-oil.html">石化油氣</a></li>
						<li><a href="tech-others.html">其他應用</a></li>
					</ul>
				</div>
			</aside>
			<div>
				<section>
					<ul id="paper_content">
						<li class="block" v-for="item in contents">
							<div class="title" v-if="item.show_title">{{item.title}}<br></div>
					        <div class="text" v-if="item.show_text">
					        	<ul class="word">
					        		<li class="text" v-for="text in item.texts">{{text}}</li>
					        	</ul>
					        </div>
					         <div class="img-2">
					        	<ul class="img-list">
					        		<li v-for="pic in item.pics"><img src="{{pic}}"></li>
					        	</ul>
					        </div>
					        <div class="sub_title" v-if="item.show_lists">
								<ul>
									<li class="text" v-for="list in item.lists">{{list}}</li>
								</ul>
							</div>
						</li>
					</ul>	
				</section>
			</div>
		</article>
<!------------------------------------------------------->
		<footer>
			<div>
				<div id="footer-logo">
					<img src="../image/logo-white.png">
					<p>© 2019 Innovator</p>
				</div>
				<div id="footer-info">
					<p><b>Phone　</b>02-86626788</p>
					<p><b>Fax　</b>02-86626766</p>
					<p><b>Email　</b>otto_cheng@innovator.com.tw</p>
					<p><b>Address　</b>新北市深坑區北深路三段270巷16號4樓之1</p>
				</div>
			</div>
		</footer>
	</div>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js'></script>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/pd_nav.js"></script>
	<script type="text/javascript" src="../js/tech-sub.js"></script>
	
	<!--[if lt IE 9]>
	<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</body>
</html>	