<!DOCTYPE html>
<html lang="zh-tw">
<!--[if IE 6]>
<html id="ie6" dir="ltr" lang="zh-TW">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" dir="ltr" lang="zh-TW">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" dir="ltr" lang="zh-TW">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html dir="ltr" lang="zh-TW">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>光電半導體｜英耐德實業有限公司 INNOVATOR SURFACE TECHNOLOGIES</title>
	<link rel="stylesheet" type="text/css" href="../css/sub.css">
	<link rel="stylesheet" type="text/css" href="../css/header+footer.css">
	<link rel="stylesheet" type="text/css" href="../css/img.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body>
	<div id="loading">
		<div class="loader loader--style3" title="2">
		  	<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
			  	<path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
			    	<animateTransform attributeType="xml"
				      attributeName="transform"
				      type="rotate"
				      from="0 25 25"
				      to="360 25 25"
				      dur="0.6s"
				      repeatCount="indefinite"/>
			    </path>
		  	</svg>
		  	<div>Loading...</div>
		</div>
	</div>
	<div id="app">
		<!-- navbar-collapse -->
		<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fff">
		  	<div class="container">
			    <div class="navbar-header" style="margin: 0 auto;">
			     	<button class="navbar-toggle collapsed" style="float: left;" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			      		<span class="sr-only">Toggle navigation</span>
			      		<span class="icon-bar"></span>
			      		<span class="icon-bar"></span>
			      		<span class="icon-bar"></span>
			      	</button>
			      	<a class="logo" style="float: right;" href="../index.html">
			      		<img style="height: 50px;padding: 0.4em 0;" src="../image/main-logo.png">
					</a>
			    </div>
			    <div class="navbar-collapse collapse" id="navbar" style="background-color: #0b1d75">
			      	<ul class="nav navbar-nav">
			        	<li v-for="item in navbar"><a href="{{item.page_t}}" style="color: #fff">{{item.name}}</a></li>
			      	</ul>
			    </div>
			    <!-- /.nav-collapse-->
		  	</div>
		</nav>
		<header>
			<div class="header-top">
				<nav class="main-nav">
					<ul>
						<li v-for="item in main"><a href="{{item.page_t}}">{{item.name}}</a></li>
					</ul>
				</nav>
				<a id="main-logo" href="../index.html">
					<img src="../image/main-logo.png">
				</a>
			</div>
			<div class="header-bottom">
				<nav id="pd-nav" class="scroll">
					<ul class="layer-1">
						<li v-for="item in pd"><a href="{{item.page_t}}">{{item.name}}
							<i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2" >
								<li v-for="tag in item.tags"><a href="{{tag.page_t}}">{{tag.name}}</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</header>
<!------------------------------------------------------->
		<article>
			<aside class="sidebar">
				<div class="menu-title">
					<a href="{{tag}}">{{tag_name}}</a>
				</div>
				<div class="menu">
					<ul>
						<li v-for="item in sidemenu"><a href="{{item.page}}">{{item.name}}</a></li>
					</ul>
				</div>
			</aside>
			<div>
				<section>
					<ul id="semicd_content">
						<li class="block" v-for="item in contents">
							<div class="title" v-if="item.show_title">{{item.title}}<br></div>
					        <div class="text" v-if="item.show_text">
					        	<ul class="word">
					        		<li class="text" v-for="text in item.texts">{{text}}</li>
					        	</ul>
					        </div>
					         <div class="img-2">
					        	<ul class="img-list">
					        		<li v-for="pic in item.pics"><img src="{{pic}}"></li>
					        	</ul>
					        </div>
					        <div class="sub_title" v-if="item.show_lists">
								<ul>
									<li class="text" v-for="list in item.lists">{{list}}</li>
								</ul>
							</div>
						</li>
					</ul>	
				</section>
			</div>
		</article>
<!------------------------------------------------------->
		<footer>
			<div>
				<div id="footer-logo">
					<img src="{{flogo_1}}">
					<p>{{copyright}}</p>
				</div>
				<div id="footer-info">
					<ul>
						<li v-for="item in finfo">
							<div class="info">{{item.info}}</div>
							<div class="text">{{item.text}}</div>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
	
	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js'></script>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/pd_nav.js"></script>
	<script type="text/javascript" src="../js/header+footer.js"></script>
	<script type="text/javascript" src="../js/tech.js"></script>
	
	<!--[if lt IE 9]>
	<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</body>
</html>	