@import url("reset.css");
*{
	box-sizing: border-box;
	font-family: sans-serif,'PingFang SC','Microsoft JhengHei';
	letter-spacing: 1px;
}
html,body{
	‐webkit‐text‐size‐adjust: none;
	background-color: #eee;
}
img{
	display: block;
}
/* ---------------------------------------------- */
#app{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#app > header{
	width: 100%;
	height: auto;
}
/* ------------------------------------------------ */
#app > header > .header-bottom{
	height: 60px;
	width: 100%;
}
#app > header > .header-bottom > .pd-nav{
	width: 100%;
	height: 100%;
	background: linear-gradient(#002ea3,#0b1d75);
	color: #fff;
	text-align: center;
}
#app > header > .header-bottom > .pd-nav > .layer-1{
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	overflow:auto;
}
#app > header > .header-bottom > .pd-nav > .layer-1 > li{
	float: left;
	width: 162px;
	text-align: center;
}
#app > header > .header-bottom > .pd-nav > .layer-1 > li:hover{
	background-color: #0b1d75;
}
#app > header > .header-bottom > .pd-nav > .layer-1 > li > a{
	display: block;
	width: 100%;
	float: left;
	color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
}
#app > header > .header-bottom > .pd-nav > .layer-1 > li > .layer-2{
	position: absolute;
	width: 162px;
	overflow: visible;
	clear: left;
	margin-top: 60px;
	background-color: #09175b;
}
#app > header > .header-bottom > .pd-nav > .layer-1 > li > .layer-2 > li{
	float: none;
	padding: 0 8px;
}
#app > header > .header-bottom > .pd-nav > .layer-1 > li > .layer-2 > li:hover{
	background-color: #13257c;
}
#app > header > .header-bottom > .pd-nav > .layer-1 > li > .layer-2 > li > a{
	display: block;
	line-height: 40px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}
#app > header > .header-bottom > .pd-nav > .layer-1 > li > .layer-2 > li > .layer-3{
	display: block;
	width: 162px;
	position: absolute;
	line-height: 40px;
	margin-left: 154px;
	margin-top: -40px;
	background-color: #13257c;
	z-index: 10;
}
#app > header > .header-bottom > .pd-nav > .layer-1 > li > .layer-2 > li > .layer-3 > li{
	font-size: 14px;
}
#app > header > .header-bottom > .pd-nav > .layer-1 > li > .layer-2 > li > .layer-3 > li:hover{
	background-color: #002ea3;
}
#app > header > .header-bottom > .pd-nav > .layer-1 > li > .layer-2 > li > .layer-3 > li > a{
	display: block;
	width: 100%;
	text-decoration: none;
	color: #fff;
}
/* ------------以下為階層隱藏與顯示--------------- */
.pd-nav > .layer-1 > li > .layer-2{
	visibility: hidden;
}
.pd-nav > .layer-1 > li:hover > .layer-2{
	visibility: visible;
}
.pd-nav > .layer-1 > li:hover > .layer-2 > li > .layer-3{
	visibility: hidden;
}
.pd-nav > .layer-1 > li:hover > .layer-2 > li:hover > .layer-3{
	visibility: visible;
}
















