@import url("reset.css");
*{
	box-sizing: border-box;
	font-family: sans-serif,'PingFang SC','Microsoft JhengHei';
	letter-spacing: 1px;
}
html,body{
	‐webkit‐text‐size‐adjust: none;
	background-color: #fff;
}
img{
	display: block;
}
/* ------------------------------------ */
#app{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#app > header{
	width: 100%;
	height: auto;
	background-color: #fff;
}
#app > header > .header-top{
	padding: 30px;
	width: 100%;
	height: 125px;
}
#app > header > .header-top > a{
	float:  right;
	width: 30%;

}
#app > header > .header-top > a > img{
	height: auto;
	width: 100%;
}
#app > header > .header-top > .main-nav{
	width: 70%;
	height: 100%;
}
#app > header > .header-top > .main-nav > ul{
	width: 100%;
	height: 100%;
}
#app > header > .header-top > .main-nav > ul > li{
	list-style: none;
	float: left;
	line-height: 65px;
}
#app > header > .header-top > .main-nav > ul > li > a{
	text-decoration: none;
	font-size: 14px;
	color: #404040;
	padding: 3px 30px;
	transition: 0.4s;
	border-bottom: solid 3px transparent;
}
#app > header > .header-top > .main-nav > ul > li > a:hover{
	border-bottom: solid 3px #ff8300;
}
#app > header > .header-bottom{
	background-color: #eee;
	height: 60px;
	width: 100%;
}
#app > header > .header-bottom > .pd-nav{
	width: 100%;
	height: 100%;
	background: linear-gradient(#002ea3,#0b1d75);
	color: #fff;
	text-align: center;
}
#app > header > .header-bottom > .pd-nav > ul{
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
#app > header > .header-bottom > .pd-nav > ul > li{
	float: left;
	transition: 0.2s;
}
#app > header > .header-bottom > .pd-nav > ul > li:hover{
	background-color: #0b1d75;
}
#app > header > .header-bottom > .pd-nav > ul > li > a{
	color: #fff;
	text-decoration: none;
	padding: 0px 30px;
	line-height: 60px;
}
/* ------------------------------------------------- */
#app > article{
	padding: 20px 80px;
	margin: 0 auto;
}
#app > article > h2{
	color: #0b1d75;
	font-size: 24px;
	line-height: 48px;
}
#app > article > img{

}
#app > article > p{
	color: #404040;
	font-size: 16px;
	line-height: 32px;
}
/* ------------------------------------------------- */
#app > footer{
	width: 100%;
	height: 150px;
	background: linear-gradient(#002ea3,#0b1d75);
	overflow: hidden;
}
#app > footer > #footer-logo{
	width: 20%;
	height: 50%;
	margin: 0 auto;
	background-image: url(logo-white.png);
	background-repeat: no-repeat;
	-webkit-background-size: 80%;
		background-size: 80%;	
	background-position: 50% 50%;
}
#app > footer > #footer-logo > a{
	width: 20%;
	height: 50%;
	
}
#app > footer > #footer-info{
	height: 50%;
	width: 100%;
	color: #fff;
	text-align: center;
}
#app > footer > #footer-info > p{
	font-size: 14px;
	margin: 0 auto;
	line-height: 75px;
}
