<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../css/header+footer.css">
	<link rel="stylesheet" type="text/css" href="../../css/sub.css">
</head>
<body>
	<div id="app">
		<header>
			<div class="header-top">
				<nav class="main-nav">
					<ul>
						<li v-for="item in main"><a href="{{item.page_2}}">{{item.name}}</a></li>
					</ul>
				</nav>
				<a id="main-logo" href="../../index.html">
					<img src="../../image/main-logo.png">
				</a>
			</div>
			<div class="header-bottom">
				<nav id="pd-nav" class="scroll">
					<ul class="layer-1">
						<li v-for="item in pd"><a href="{{item.page}}">{{item.name}}
							<i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2" >
								<li v-for="tag in item.tags"><a href="{{tag.page}}">{{tag.name}}</a></li>
								<li><a href="../plasma/plasma-6600.html">Praxair 6600XL</a></li>
								<li><a href="../plasma/plasma-7700.html">Praxair 7700 UPC</a></li>
								<li><a href="../plasma/plasma-plazjet.html">Praxair PlazJet</a></li>
								<li><a href="../plasma/plasma-guns.html">Praxair 電漿噴槍</a></li>
								<li><a href="../plasma/plasma-axial3.html">Mettech Axial 3</a></li>
							</ul>
						</li>
						<li><a href="../arc/arc.html">電弧噴塗設備 <i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2">
								<li><a href="../arc/arc-8835.html">Praxair 8835/8830</a></li>
								<li><a href="../arc/arc-bp400.html">Praxair BP400</a></li>
								<li><a href="../arc/arc-coarc.html">Praxair CoArc</a></li>
								<li><a href="../arc/arc-456.html">Thermion AVD456</a></li>
								<li><a href="../arc/arc-450.html">Thermion AVD450</a></li>
							</ul>
						</li>
						<li><a href="../HVOF/HVOF.html">HVOF噴塗設備 <i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2">
								<li><a href="../HVOF/hvof-jp5000.html">Praxair JP5000</a></li>
								<li><a href="../HVOF/hvof-jp8000.html">Praxair JP8000</a></li>
								<li><a href="../HVOF/hvof-guns.html">Praxair HVOF噴槍</a></li>
							</ul>
						</li>
						<li><a href="../flame/flame.html">火焰噴塗設備 <i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2">
								<li><a href="../flame/flame-guns.html">Saint Gobain 噴槍</a></li>
							</ul>
						</li>
						<li><a href="../cold/cold.html">冷氣動力噴塗設備 <i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2">
								<li><a href="../cold/cold-impact.html">Impact 噴塗系統</a></li>
							</ul>
						</li>
						<li><a href="../feeder/feeder.html">送料設備 <i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2">
								<li><a href="../feeder/feeder-1264s.html">Praxair 1264型送粉機</a></li>
								<li><a href="../feeder/feeder-thermico.html">Thermico CPF2</a></li>
								<li><a href="../feeder/feeder-mettech.html">Mettech 750/350</a></li>
							</ul>	
						</li>
						<li><a href="../parts/parts.html">耗材與零件 <i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2">
								<li><a href="../parts/parts-powder.html">噴塗粉末</a></li>
								<li><a href="../parts/parts-wires.html">噴塗線材</a></li>
								<li><a href="../parts/parts-suspension.html">噴塗漿料</a></li>
								<li><a href="../parts/prats-flexicord.html"> FlexiCord 包芯線</a></li>
								<li><a href="../parts/parts-3D.html">3D金屬列印粉末</a></li>
								<li><a href="../parts/parts-masking.html">耐熱遮覆膠帶</a></li>
								<li><a href="../parts/parts-stellite.html">超合金焊材</a></li>
								<li><a href="../parts/parts-tufcote.html">TufCote 焊材</a></li>
								<li><a href="../parts/parts-parts.html">噴塗設備零件</a></li>
							</ul>
						</li>
						<li><a href="../asider/asider.html">周邊輔助設備 <i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2">
								<li><a href="../asider/asider-robotics.html">自動化設備</a></li>
								<li><a href="../asider/asider-enclosure.html">隔音間</a></li>
								<li><a href="../asider/asider-dustcollecter.html">集塵設備</a></li>
								<li><a href="../asider/asider-spraywatch.html">噴塗監控系統</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</header>
<!-- ----------------------------- -->
		<article>
			<aside class="sidebar">
				<div class="menu-title">
					<a href="{{tag}}">{{tag_name}}</a>
				</div>
				<div class="menu">
					<ul>
						<li v-for="item in sidemenu"><a href="{{item.page}}">{{item.name}}</a></li>
					</ul>
				</div>
			</aside>
		</article>
	</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js'></script>
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/pd_nav.js"></script>
<script type="text/javascript" src="../../js/arc-sub.js"></script>
<script type="text/javascript" src="../../js/header-top.js"></script>

</body>
</html>