<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../css/header+footer.css">
	<link rel="stylesheet" type="text/css" href="../../css/sub.css">
</head>
<body>
	<div id="app">
		<header>
			<div class="header-top">
				<nav class="main-nav">
					<ul>
						<li v-for="item in main"><a href="{{item.page_2}}">{{item.name}}</a></li>
					</ul>
				</nav>
				<a id="main-logo" href="../../index.html">
					<img src="../../image/main-logo.png">
				</a>
			</div>
			<div class="header-bottom">
				<nav id="pd-nav" class="scroll">
					<ul class="layer-1">
						<li v-for="item in pd"><a href="{{item.page}}">{{item.name}}
							<i class="fas fa-chevron-down"></i></a>
							<ul class="layer-2" >
								<li v-for="tag in item.tags"><a href="{{tag.page}}">{{tag.name}}</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</header>
<!-- ----------------------------- -->
		<article>
			<aside class="sidebar">
				<div class="menu-title">
					<a href="{{tag}}">{{tag_name}}</a>
				</div>
				<div class="menu">
					<ul>
						<li v-for="item in sidemenu"><a href="{{item.page}}">{{item.name}}</a></li>
					</ul>
				</div>
			</aside>
		</article>
<!------------------------------------------------------->
		<footer>
			<div>
				<div id="footer-logo">
					<img src="../../image/logo-white.png">
					<p>{{copyright}}</p>
				</div>
				<div id="footer-info">
					<ul>
						<li v-for="item in finfo">
							<div class="info">{{item.info}}</div>
							<div class="text">{{item.text}}</div>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
	</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js'></script>
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/pd_nav.js"></script>
<script type="text/javascript" src="../../js/arc-sub.js"></script>
<script type="text/javascript" src="../../js/header-top.js"></script>

</body>
</html>