@import url("reset.css");
*{
	box-sizing: border-box;
	font-family: sans-serif,'PingFang SC','Microsoft JhengHei';
	letter-spacing: 1px;
}
html,body{
	‐webkit‐text‐size‐adjust: none;
	background-color: #eee;
}
img{
	display: block;
}
/* ------------------------------------ */
#app{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#app > header{
	width: 100%;
	height: auto;
	background-color: #fff;
}
#app > header > .header-top{
	padding: 30px;
	width: 100%;
	height: 125px;
}
#app > header > .header-top > a{
	float:  right;
	width: 30%;

}
#app > header > .header-top > a > img{
	height: auto;
	width: 100%;
}
#app > header > .header-top > #main-nav{
	float: left;
}
#app > header > .header-top > #main-nav > a {
	text-decoration: none;
	font-size: 16px;
	float: left;
	color: #404040;
	padding: 0px 30px;
	line-height: 65px;
	transition: 0.4s;
}
#app > header > .header-top > #main-nav > a:hover{
	transform: translateX(-2px) translateY(-2px);
	text-shadow: 3px 3px 2px #eee;
}
#app > header > .header-bottom{
	background-color: #eee;
	height: 60px;
	width: 100%;
}
#app > header > .header-bottom > #pd-nav{
	width: 100%;
	height: 100%;
	background-color: #00348c;
	color: #fff;
	text-align: center;
}
#app > header > .header-bottom > #pd-nav > a{
	color: #fff;
	text-decoration: none;
	padding: 0px 30px;
	line-height: 60px;

}
/* ---------------------------------------------- */
#app > article{
	width: 100%;
	background-color: #fff;
}
#app > article > #content-bottom{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 50px 0;
}
#app > article > #content-bottom > div{
	width: 90%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
#app > article > #content-bottom > div > ul{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
#app > article > #content-bottom > div > ul > li{
	display: block;
	width: 30%;
	height: auto;
	float: left;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
	margin-right: 20px;
	box-shadow: 0px 0px 13px #eee; 
}
#app > article > #content-bottom > div > ul > .last{
	margin-right: 0;
}
#app > article > #content-bottom > div > ul > li > #pic-box{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#app > article > #content-bottom > div > ul > li > #pic-box > img{
	width: 100%;
	height: auto;
	transition: 0.4s
}
#app > article > #content-bottom > div > ul > li > #pic-box > img:hover{
	transform: scale(1.1);
}
#app > article > #content-bottom > div > ul > li > #text-box{
	padding: 20px;
}
#app > article > #content-bottom > div > ul > li > #text-box > h3{
	font-size: 24px;
	color: #00348c;
	font-weight: 800;
	margin: 15px 0;
}
#app > article > #content-bottom > div > ul > li > #text-box > p{
	font-size: 16px;
	color: #404040;
	font-weight: 400;
	line-height: 28px;
}
#app > article > #content-bottom > div > ul > li > #text-box > button{
	font-size: 14px;
	border: none;
	font-weight: 600;
	color: #00348c;
	background-color: transparent;
	margin: 10px 0;
}
/* ------------------------------------------------- */
#app > footer{
	width: 100%;
	height: 150px;
	background-color: #00348c;
	overflow: hidden;
}
#app > footer > #footer-logo{
	width: 20%;
	height: 50%;
	margin: 0 auto;
	background-image: url(logo-white.png);
	background-repeat: no-repeat;
	-webkit-background-size: 80%;
		background-size: 80%;	
	background-position: 50% 50%;
}
#app > footer > #footer-logo > a{
	width: 20%;
	height: 50%;
	
}
#app > footer > #footer-info{
	height: 50%;
	width: 100%;
	color: #fff;
	text-align: center;
	border-bottom: 1px solid #c5c5c5; 
}
#app > footer > #footer-info > p{
	font-size: 14px;
	margin: 0 auto;
	line-height: 75px;
}
#app > footer > #footer-info > p > b{
	
}











